// Compass
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

body{ 
	background: $background;
	margin-top: 88px;
}

a{
	text-decoration: none;
	color: $blue-highlight;
	@include transition(0.2s);

	&:hover{
		border-bottom: 2px solid $white;
	}
}

ul{
	list-style: none;
	padding: 0;
	li{
		display: inline;
	}
}

p{
	a{
		padding-bottom: 2px;
	}
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: rgba($red, .9);
	.nav-container{
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px 60px;
	}
	a.logo{
		float: left;
		&:hover{
			opacity: .6;
			border-bottom: none;
		}
	}
	ul{
		text-align: right;
		li{
			margin-left: 40px;
			a{
				padding-bottom: 4px;
				color: $white;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
}
.background-index, .background-contact{
	position: fixed;
	z-index: -5;
	width: 100%;
	top: 0;
	bottom: 0;
}
.background-contact{
		background: url("/images/general/background-index.jpg") no-repeat top center;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.intro{
	display: block;
	.lead, .description{
		margin: 0;
		@include span(1/2);
		box-sizing: border-box;
		padding: 60px;
	}
	.lead{
		background: url("/images/general/background-index.jpg") no-repeat center;
		font-weight: 100;
		font-size: 36px;
		line-height: 46px;
		a{
			padding-bottom: 4px;
		}
	}
	.description{
		background: $tan;
		color: $tan-muted;
	}
	.feature{
		@include span(1/2);
		background: url("/images/general/feature-index.jpg") no-repeat center;
	}
}
.portfolio, .contact{
	display: inline-block;
	.lead, .description{
		margin: 0;
	}
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px;
	.portfolio{
		.lead{
			@include col(1/3);
		}
		.description{
			@include col(2/3);
		}
		&:before{
			content: "";
			background: url("/images/general/squiggle-long.png");
			background: url("/images/general/squiggle-long.svg"), none;
			background-repeat: no-repeat;
			width: 122px;
			height: 6px;
			display: block;
			margin: 80px auto;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		.lead{
			a{
				&:after{
					content: " →";
					display: inline;
					@include transition(0.2s);
				}
				&:hover{
					border-bottom: none;
					&:after{
						margin-left: 10px;
					}
				}
			}
			p{
				font-family: $sans-serif;
				font-size: 18px;
				&:before{
					content: "";
					background: url("/images/general/squiggle.png");
					background: url("/images/general/squiggle.svg"), none;
					background-repeat: no-repeat;
					width: 62px;
					height: 6px;
					display: block;
					margin: 20px 0;
				}
			}
		}
	}
	.portfolio-images{
		margin-top: 50px;
		img{
			width: 100%;
			margin-top: 10px;
		}
	}
	.contact{
		.lead, .description{
			@include col(1/2);
		}
		position: relative;
		padding: 81px 70px;
		background: url("/images/general/top-left.png"), 
								url("/images/general/center.png"), 
								url("/images/general/top-right.png"), 
								url("/images/general/bot-left.png"), 
								url("/images/general/center.png"), 
								url("/images/general/bot-right.png");
		background: url("/images/general/top-left.svg"), 
								url("/images/general/center.svg"), 
								url("/images/general/top-right.svg"), 
								url("/images/general/bot-left.svg"), 
								url("/images/general/center.svg"), 
								url("/images/general/bot-right.svg"), none;
		background-position:  left top 11px,
													center top,
													right top 11px,
													left bottom 11px,
													center bottom,
													right bottom 11px;

		background-repeat: no-repeat;
		&:before, &:after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
		}
		&:before{
			background: $blue-muted;
			bottom: -100px;
			height: 100px;
			width: 2px;
		}
		&:after{
			bottom: -112px;
			height: 10px;
			width: 10px;
			margin-left: -6px;
			border: 2px solid $blue-muted;
			@include border-radius(200px);
		}
	}
	ul.social{
		text-align: center;
		margin-top: 116px;
		li{
			margin-left: 40px;
			&:first-child{
				margin-left: 0;
			}
			a{
				color: $white;
				font-size: 30px;
			}
			a:hover{
				border-bottom: none;
				opacity: .4;
			}
		}
	}
}