// Compass
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

body{ 
	background: $background;
	position: relative;
}

a{
	text-decoration: none;
	color: $blue-highlight;
	@include transition(0.2s);

	&:hover{
		border-bottom: 2px solid $blue-highlight;
	}
}

ul{
	list-style: none;
	padding: 0;
	li{
		display: inline;
	}
}

p{
	a{
		color: $blue-muted;
		border-bottom: 2px solid $blue-muted;
		padding-bottom: 2px;
		&:hover{
			color: $white;
			border-bottom: 2px solid $white;
		}
	}
}
#toTop{
	background: $background;
	position: fixed;
	bottom: -60px;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	cursor: pointer;
	opacity: .5;
	z-index: 200;
	@include transition(0.2s);
	.path{
	  stroke-dasharray: 65;
	  stroke-dashoffset: 0;
	  @include transition(1s linear);
	}
	&:hover{
		opacity: .7;
		.path{
			stroke-dashoffset: 130;
		}
  }
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	.nav-container{
		max-width: 1360px;
		margin: 0 auto;
		padding: 0 60px;
		height: 80px;
		overflow: hidden;
		box-sizing: border-box;
	}
	a#logo{
		float: left;
		position: relative;
		background: $red;
		padding: 6px 7px 10px 13px;
		opacity: .87;
		&:after{
			content: "The digital studio of Dennis Kramer";
			opacity: 0;
			color: $blue-muted;
			font-size: 16px;
			position: absolute;
			left: 92px;
			top: 33px;
			width: 300px;
			@include transition(0.9s);
		}
		&:hover{
			opacity: 1;
			border-bottom: none;
			&:after{
				opacity: 1;
				margin-left: 10px;
			}
		}
	}
	ul{
		text-align: right;
		margin: 32px 0;
		li{
			margin-left: 40px;
			a{
				padding-bottom: 4px;
				color: $white;
				&:hover{
					border-bottom: 2px solid $white;
				}
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
	@media (max-width: 690px) {
		.nav-container{
			padding-left: 30px;
			padding-right: 30px;
		}
		a#logo:after{
			display: none;
		}
	}
	@media (max-width: 400px) {
		ul{
			li{
				margin-left: 25px;
			}
		}
	}
}
.background-contact{
	background: url("/images/general/background-contact.jpg") no-repeat top center;
	position: fixed;
	z-index: -5;
	width: 100%;
	top: 0;
	bottom: 0;
}
.intro{
	display: block;
	margin-top: 80px;
	.lead, .description, .feature{
		@include span(1/2);
	}
	.lead, .description{
		margin: 0;
		box-sizing: border-box;
		padding: 60px;
	}
	.lead{
		font-weight: 100;
		font-size: 36px;
		line-height: 46px;
		background: url("/images/general/background-index.jpg") no-repeat center;
		a{
			padding-bottom: 4px;
		}
	}
	.description{
		background: $tan;
		p{
			color: $tan-muted;
		}
		.inner{
			margin: -51px -40px;
			padding: 51px 40px;
			background: url("/images/general/ornament-index/top-left.png"), 
									url("/images/general/ornament-index/top-right.png"), 
									url("/images/general/ornament-index/bot-left.png"), 
									url("/images/general/ornament-index/bot-right.png");
			background: url("/images/general/ornament-index/top-left.svg"), 
									url("/images/general/ornament-index/top-right.svg"), 
									url("/images/general/ornament-index/bot-left.svg"), 
									url("/images/general/ornament-index/bot-right.svg"), none;
			background-position:  left top 11px,
														right top 11px,
														left bottom 11px,
														right bottom 11px;

			background-repeat: no-repeat;
		}
	}
	.feature{
		background: url("/images/general/feature-index.jpg") no-repeat center;
	}
	.gallery{
		img{
			width: 25%;
			margin: 0 -4px -4px 0;
		}
	}

	@media (max-width: 880px) {
		.lead, .description, .feature{
			@include span(1);
		}
		.lead, .description{
			padding: 60px;
		}
		.lead{
			min-height: 0 !important;
		}
		.feature{
			max-height: 300px;
		}
		.gallery{
			img{
				width: 50%;
			}
		}
	}
	@media (max-width: 690px) {
		.lead{
			padding: 30px;
		}
	}
	@media (max-width: 630px) {
		.lead{
			font-size: 28px;
			line-height: 38px;
		}
	}
}
.container{
	max-width: 1360px;
	margin: 80px auto 0;
	padding: 60px;
	box-sizing: border-box;
	.portfolio{
		display: inline-block;
		.lead{
			margin: 0;
			@include col(1/3);
		}
		.description{
			margin: 0;
			@include col(2/3);
		}
		&:before{
			content: "";
			background: url("/images/general/squiggle-long.png");
			background: url("/images/general/squiggle-long.svg"), none;
			background-repeat: no-repeat;
			width: 122px;
			height: 6px;
			display: block;
			margin: 80px auto;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		.lead{
			a{
				&:after{
					content: " →";
					display: inline;
					@include transition(0.2s);
				}
				&:hover{
					border-bottom: none;
					&:after{
						margin-left: 10px;
					}
				}
			}
			p{
				font-family: $sans-serif;
				font-size: 18px;
				&:before{
					content: "";
					background: url("/images/general/squiggle.png");
					background: url("/images/general/squiggle.svg"), none;
					background-repeat: no-repeat;
					width: 62px;
					height: 6px;
					display: block;
					margin: 20px 0 15px;
				}
			}
		}
	}
	.portfolio-images{
		margin-top: 50px;
		img{
			width: 100%;
			margin-top: 10px;
		}
	}
	.contact{
		display: inline-block;
		.lead, .description{
			@include col(1/2);
		}
		.description{
			margin-top: 0;
		}
		position: relative;
		padding: 81px 70px;
		background: url("/images/general/ornament-contact/top-left.png"), 
								url("/images/general/ornament-contact/center.png"), 
								url("/images/general/ornament-contact/top-right.png"), 
								url("/images/general/ornament-contact/bot-left.png"), 
								url("/images/general/ornament-contact/center.png"), 
								url("/images/general/ornament-contact/bot-right.png");
		background: url("/images/general/ornament-contact/top-left.svg"), 
								url("/images/general/ornament-contact/center.svg"), 
								url("/images/general/ornament-contact/top-right.svg"), 
								url("/images/general/ornament-contact/bot-left.svg"), 
								url("/images/general/ornament-contact/center.svg"), 
								url("/images/general/ornament-contact/bot-right.svg"), none;
		background-position:  left top 11px,
													center top,
													right top 11px,
													left bottom 11px,
													center bottom,
													right bottom 11px;

		background-repeat: no-repeat;
		&:before, &:after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
		}
		&:before{
			background: $blue-muted;
			bottom: -100px;
			height: 100px;
			width: 2px;
		}
		&:after{
			bottom: -112px;
			height: 10px;
			width: 10px;
			margin-left: -6px;
			border: 2px solid $blue-muted;
			@include border-radius(200px);
		}
	}
	ul.social{
		text-align: center;
		margin: 124px 0;
		li{
			margin-left: 40px;
			a{
				font-size: 30px;
			}
		}
	}
}
ul.social{
	li{
		&:first-child{
			margin-left: 0;
		}
		a{
			color: $white;
		}
		a:hover{
			border-bottom: none;
			opacity: .4;
		}
	}
}
@media (max-width: 1000px) {
	.container{
		.contact{
			.lead, .description{
				@include col(1);
			}
			.lead{
				margin-bottom: 30px;
			}
		}
	}
}
@media (max-width: 690px) {
	.container{
		padding: 30px;
		.portfolio{
			.lead, .description{
				@include col(1);
			}
			.lead{
				margin-bottom: 30px;
			}
		}
		.portfolio-images{
			margin-top: 10px;
		}
	}
}
@media (max-width: 600px) {
	.container{
		.contact{
			background: url("/images/general/ornament-contact/center.png");	
			background: url("/images/general/ornament-contact/center.svg"), none;
			background-position:  center bottom;
			background-repeat: no-repeat;
			padding: 0 0 81px;
			.lead{
				font-size: 24px;
				line-height: 36px;
			}
		}
	}
}
@media (max-width: 400px) {
	.container{
		.contact{
			background: transparent;
			padding: 0;
			.lead{
				font-size: 20px;
				line-height: 30px;
			}
			&:before, &:after{
				display: none;
			}
		}
		ul.social{
			margin-top: 30px;
		}
	}
}
footer{
	background: $blue-dark;
	width: 100%;
	bottom: 0;
	.footer-container{
		opacity: .5;
		max-width: 1360px;
		margin: 0 auto;
		padding: 3px 60px;
		height: 60px;
		overflow: hidden;
		box-sizing: border-box;
		p{
			font-size: 16px;
			margin-top: 14px;
			float: left;
		}
		ul.social{
			float: right;
			li{
				margin-left: 10px;
			}
		}
	}
}
@media (max-width: 690px) {
	footer{
		.footer-container{
			padding: 3px 30px;
		}
	}
}