body{ 
	background: $background;
}

a{
	text-decoration: none;
	color: $blue-light;
	@include transition(0.2s);

	&:hover{
		border-bottom: 2px solid $white;
	}
}

p{
	a{
		padding-bottom: 2px;
	}
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin-bottom: 88px;
	background: rgba($red, .9);
	.nav-container{
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px 60px;
	}
	a.logo{
		float: left;
		&:hover{
			opacity: .6;
			border-bottom: none;
		}
	}
	ul{
		list-style: none;
		text-align: right;
		padding: 0;
		li{
			display: inline;
			margin-left: 40px;
			a{
				padding-bottom: 4px;
				color: $white;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
}
.cover-image{
	position: absolute;
	z-index: -5;
	width: 100%;
	top: 0;
	bottom: 0;
	background: url("/images/general/background.jpg") no-repeat top center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 88px;
	padding: 60px;
	.intro, .portfolio{
		display: inline-block;
		.lead, .description{
			margin: 0;
		}
	}
	.intro{
		.lead, .description{
			@include col(1/2);
		}
		position: relative;
		padding: 81px 70px;
		background: url("/images/general/top-left.png"), 
								url("/images/general/center.png"), 
								url("/images/general/top-right.png"), 
								url("/images/general/bot-left.png"), 
								url("/images/general/center.png"), 
								url("/images/general/bot-right.png");
		background: url("/images/general/top-left.svg"), 
								url("/images/general/center.svg"), 
								url("/images/general/top-right.svg"), 
								url("/images/general/bot-left.svg"), 
								url("/images/general/center.svg"), 
								url("/images/general/bot-right.svg"), none;
		background-position:  left top 11px,
													center top,
													right top 11px,
													left bottom 11px,
													center bottom,
													right bottom 11px;

		background-repeat: no-repeat;
		&:before, &:after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
		}
		&:before{
			background: $blue-muted;
			bottom: -100px;
			height: 100px;
			width: 2px;
		}
		&:after{
			bottom: -112px;
			height: 10px;
			width: 10px;
			margin-left: -6px;
			border: 2px solid $blue-muted;
			@include border-radius(200px);
		}
	}
	.portfolio{
		.lead{
			@include col(1/3);
		}
		.description{
			@include col(2/3);
		}
		&:before{
			content: "";
			background: url("/images/general/squiggle-long.png");
			background: url("/images/general/squiggle-long.svg"), none;
			background-repeat: no-repeat;
			width: 122px;
			height: 6px;
			display: block;
			margin: 80px auto;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		.lead{
			a{
				&:after{
					content: " →";
					display: inline;
					@include transition(0.2s);
				}
				&:hover{
					border-bottom: none;
					&:after{
						margin-left: 10px;
					}
				}
			}
			p{
				font-family: $sans-serif;
				&:before{
					content: "";
					display: block;
					background: $white;
					width: 50px;
					height: 2px;
					margin: 20px 0;
				}
			}
		}
	}
	.portfolio-images{
		margin-top: 50px;
		img{
			width: 100%;
			margin-top: 10px;
		}
	}
}

.thumbnails{
	margin-top: 80px;
	a.thumb{
		position: relative;
		background: $background;
		@include span(1/3);
		img{
			width: 100%;
			margin-bottom: -4px;
			opacity: .4;
			@include transition(0.2s);
		}
		.overlay{
			position: absolute;
			text-align: center;
			width: 90%;
			height: auto;
			display: table;
			top: 0;
			bottom: 0;
			padding: 5%;
			margin: auto;
		}
		p{
			font-family: $sans-serif;
			color: $white;
			margin-bottom: 0;
		}
		h3{
			margin-top: 0;
			&:after{
				content: "";
				display: block;
				background: $white;
				width: 50px;
				height: 2px;
				margin: 20px auto;
			}
		}
		&:hover{
			border-bottom: none;
			img{
				opacity: 1;
			}
			.overlay{
				display: none;
			}
		}
	}
}