// Colors
$background:        #1c2b38;
$white:					    #ffffff;
$red:						    #f76464;
$red-muted:         #faa2a2;
$blue-muted:		    #55606a;
$blue-highlight:		#4c9de7;
$blue-dark:         #17232d;
$tan:               #ecccb5;
$tan-muted:         #c0a693;

// Fonts
$serif: "Calendas Plus", georgia, times, serif;
$sans-serif: "ff-din-web", arial, sans-serif;
.serif{
  font-family: $serif;
}
.sans-serif{
  font-family: $sans-serif;
}

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Floats
.left{
  float: left !important;
}
.right{
  float: right !important;
}

// Text Selection Colors
::selection {
  background: $blue-highlight;
  color: $white;
  }
::-moz-selection {
  background: $blue-highlight;
  color: $white;
}

// Image Cover
.cover{
  -webkit-background-size: cover !important;
     -moz-background-size: cover !important;
       -o-background-size: cover !important;
          background-size: cover !important;
}

//Animation Delays
.delay1{
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
}
.delay2{
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
}
.delay3{
  animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
}
.delay4{
  animation-delay: .8s;
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
}

// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
  	 -moz-border-radius: $radius;
  		-ms-border-radius: $radius;
  				border-radius: $radius;
}

@mixin blur($blur) {
	-webkit-filter: blur($blur);
		 -moz-filter: blur($blur);
		  -ms-filter: blur($blur);
		   -o-filter: blur($blur);
		      filter: blur($blur);
}
// USE THIS WITH BLUR TO FORCE HARDWEARE ACCELERATION
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin transition($transition) {
	-webkit-transition: all $transition;
   	 -moz-transition: all $transition;
        	transition: all $transition;
}

// Convert px to ems
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}