// Colors
$background:        #1c2b38;
$white:					    #ffffff;
$red:						    #f76464;
$red-muted:         #faa2a2;
$blue-muted:		    #55606a;
$blue-highlight:		#4c9de7;
$tan:               #ecccb5;
$tan-muted:         #b19988;

// Fonts
$serif: "Calendas Plus", georgia, times, serif;
$sans-serif: "DIN", arial, sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Floats
.left{
  float: left !important;
}
.right{
  float: right !important;
}

// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
  	 -moz-border-radius: $radius;
  		-ms-border-radius: $radius;
  				border-radius: $radius;
}

@mixin blur($blur) {
	-webkit-filter: blur($blur);
		 -moz-filter: blur($blur);
		  -ms-filter: blur($blur);
		   -o-filter: blur($blur);
		      filter: blur($blur);
}
// USE THIS WITH BLUR TO FORCE HARDWEARE ACCELERATION
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin transition($transition) {
	-webkit-transition: all $transition;
   	 -moz-transition: all $transition;
        	transition: all $transition;
}

// Convert px to ems
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}