// Colors
$background:    #1c2b38;
$white:					#ffffff;
$red:						#ed5a5a;
$blue-muted:		#55606a;
$blue-light:		#4c9de7;

// Fonts
$serif: "Calendas Plus", georgia, times, serif;
$sans-serif: "Proxima Nova", arial, sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
  	 -moz-border-radius: $radius;
  		-ms-border-radius: $radius;
  				border-radius: $radius;
}

@mixin transition($transition) {
	-webkit-transition: all $transition;
   	 -moz-transition: all $transition;
        	transition: all $transition;
}

// Convert px to ems
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}