body{
	font-family: $serif;
	font-size: 16px;
	color: $white;
}
h1{
	font-family: $sans-serif;
	font-size: 28px;
	line-height: 40px;
	color: $white;
	font-weight: $regular;
	margin-top: 0;
	margin-bottom: 10px;
}

h2{
	font-family: $sans-serif;
	font-size: 22px;
	color: $blue-muted;
	font-weight: $regular;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

	&:after{
		content: "";
		background: url("/images/general/squiggle.png");
		background: url("/images/general/squiggle.svg"), none;
		background-repeat: no-repeat;
		width: 62px;
		height: 6px;
		display: block;
		margin: 30px auto;
	}
}

h3{
	font-size: 22px;
	line-height: 28px;
	color: $white;
	font-weight: $regular;
}

p{
	font-size: 18px;
	line-height: 28px;
	color: $blue-muted;
	font-weight: $regular;

	margin-top: 0;
}