body{
	font-family: $serif;
	font-size: 16px;
	color: $white;
}
h1{
	font-family: $sans-serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: 1px;
	color: $white;
	font-weight: $regular;
	margin-top: 0;
	margin-bottom: 10px;
}

h2{
	font-family: $sans-serif;
	font-size: 28px;
	line-height: 40px;
	color: $white;
	font-weight: $regular;
	letter-spacing: 1px;
}

h3{
	font-size: 22px;
	line-height: 28px;
	color: $white;
	font-weight: $regular;
}

p{
	font-size: 20px;
	line-height: 30px;
	color: $blue-muted;
	font-weight: $regular;
	
	margin: 20px 0 0 0;
	&:first-child{
		margin-top: 0;
	}
}
@media (max-width: 600px) {
	p{
		font-size: 16px;
		line-height: 26px;
	}
}