@font-face {
    font-family: 'Calendas Plus';
    src: url('Calendas_Plus.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calendas Plus';
    src: url('Calendas_Plus_Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calendas Plus';
    src: url('Calendas_Plus_Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}