<footer>
	<div class="footer-container">
		<p>© Made in Brooklyn Heights</p>
		<ul class="social">
			<li><a href="http://twitter.com/dennispkramer" target="_blank" class="ss-icon">Twitter</a></li>
			<li><a href="http://instagram.com/dennispkramer/" target="_blank" class="ss-icon">Instagram</a></li>
			<li><a href="https://dribbble.com/dennispkramer" target="_blank" class="ss-icon">Dribbble</a></li>
		</ul>
	</div>
</footer>