<nav>
	<div class="nav-container">
		<a href="index.html" class="logo"><img src="/images/general/logo.svg" onerror="this.src=/images/general/logo.png"></a>
		<ul>
			<li><a href="work.html">Work</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>