---
title: Dennis P Kramer
---
<%= stylesheet_link_tag "main" %>

<div>
	<%= partial "head" %>
	<%= partial "nav" %>
	<div class="background-contact"></div>
	<div class="container">
		<div class="contact">
			<h1 class="lead">Hit me up at <a href="mailto:">dennispkramer@gmail.com</a></h1>
			<ul>
				<li><a href="#" class="ss-icon">Twitter</a></li>
				<li><a href="#" class="ss-icon">Instagram</a></li>
				<li><a href="#" class="ss-icon">Dribbble</a></li>
			</ul>
		</div>
	</div>
</div>