---
title: Dennis P Kramer
---
<%= stylesheet_link_tag "main" %>

<div>
	<%= partial "nav" %>
	<div class="background-contact"></div>
	<div class="container">
		<div class="contact">
			<h1 class="lead">Hit me up at <a href="mailto:">dennispkramer@gmail.com</a></h1>
			<p>or find me on</p>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Dribbble</a></li>
			</ul>
		</div>
	</div>
</div>