---
title: Dennis P Kramer - Contact
---

<div>
	<%= partial "head" %>
	<%= partial "nav" %>
	<div class="background-contact cover"></div>
	<div class="container animated fadeInDown">
		<div class="contact">
			<h1 class="lead">If you have some adventures in mind, or want to hang out and talk work, feel free to reach me at <a href="mailto:dennispkramer@gmail.com">dennispkramer@gmail.com</a>. Twitter is also a pretty good bet.</h1>
			<p class="description">This site was designed and developed in-browser using <a href="http://www.sublimetext.com" target="_blank">Sublime Text</a>. The type is set in DIN and Calendas, and social icons are displayed as a semantic symbol font by <a href="http://symbolset.com" target="_blank">Symbolset</a>. It was written with the aid of <a href="http://middlemanapp.com/" target="_blank">Middleman</a>, <a href="http://sass-lang.com/" target="_blank">SASS</a>, and <a href="http://jeet.gs/" target="_blank">Jeet</a>, and features CSS transitions courtesy of <a href="http://daneden.me/animate/" target="_blank">Animate.css</a>.</p>
		</div>
		<ul class="social">
			<li><a href="http://twitter.com/dennispkramer" target="_blank" class="ss-icon">Twitter</a></li>
			<li><a href="http://instagram.com/dennispkramer/" target="_blank" class="ss-icon">Instagram</a></li>
			<li><a href="https://dribbble.com/dennispkramer" target="_blank" class="ss-icon">Dribbble</a></li>
		</ul>
	</div>
	<%= partial "totop" %>
	<%= partial "footer" %>
</div>