---
title: Dennis P Kramer
---

<div>
	<%= partial "head" %>
	<%= partial "nav" %>
	<div class="intro">
		<h1 class="lead" id="child2">My name is Dennis Kramer, and I'm a skier, climber, cyclist, and mountaineer. I currently work for <a href="http://www.etsy.com" target="_blank">Etsy</a> as a Product Designer, and live in Brooklyn Heights with my girlfriend, Lily.</h1>
		<div class="description" id="master">
			<div class="inner">
				<p>
					I grew up in New York City, and am still happy to call it my home. Despite my urban upbringing, I've always felt compelled to get outside and explore as often as possible. Beyond my life as a designer, I seek challenges to ski faster, climb higher, and bike farther.
				</p>
				<p>
					Professionally, I enjoy solving problems in the real world. I'm less interested in maximizing likes and page views than I am in improving efficiency and fullfilling the needs of a person's day-to-day activities.
				</p>
			</div>
		</div>
		<div class="feature"  id="child1" src="/images/general/feature-index.jpg"></div>
	</div>
</div>