---
title: Dennis P Kramer
---
<%= stylesheet_link_tag "main" %>

<div>
	<nav>
		<a class="logo"><img src="/images/logo.png"></a>
		<ul>
			<li><a href="#">Work</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<div class="content">
		<div class="intro">
			<h1>I am a skier, climber, cyclist, and mountaineer. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. </h1>
			<h2>I also design digital products, draw icons, and create custom typography. I am a product designer and casual front-end developer born and raised in New York City. I also enjoy illustration, brand development, and custom typography; I incorporate these in my work whenever I can.</h2>
		</div>
	</div>
	<div class="thumbnails">
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
		</a>
	</div>
</div>