---
title: Dennis P Kramer
---
<%= stylesheet_link_tag "main" %>

<div>
	<%= partial "nav" %>
	<div class="container">
		<div class="header">
			<h1 class="lead">My name is Dennis Kramer, and I'm a skier, climber, cyclist, and mountaineer. I currently work for <a href="www.etsy.com">Etsy</a> as a Product Designer, and live in Brooklyn Heights with my girlfriend, Lily.</h1>
			<p>I grew up in New York City, and am still happy to call it my home. Though I mostly spent my youth in Manhattan, I now reside on the other side of the east river, in Brooklyn. I also enjoy illustration, brand development, and custom typography; I incorporate these in my work whenever I can.</p>
		</div>
	</div>
	<div class="thumbnails">
		<h2>Portfolio Selects</h2>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
				<div class="overlay">
					<h3>Wedding Invites for Sarah & Andy</h3>
					<p>Print, Illustration</p>
				</div>
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
				<div class="overlay">
					<h3>Wedding Invites for Sarah & Andy</h3>
					<p>Print, Illustration</p>
				</div>
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
				<div class="overlay">
					<h3>Wedding Invites for Sarah & Andy</h3>
					<p>Print, Illustration</p>
				</div>
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
				<div class="overlay">
					<h3>Wedding Invites for Sarah & Andy</h3>
					<p>Print, Illustration</p>
				</div>
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
				<div class="overlay">
					<h3>Wedding Invites for Sarah & Andy</h3>
					<p>Print, Illustration</p>
				</div>
		</a>
		<a href="#" class="thumb">
				<img src="/images/test.jpg">
				<div class="overlay">
					<h3>Wedding Invites for Sarah & Andy</h3>
					<p>Print, Illustration</p>
				</div>
		</a>
	</div>
</div>