---
title: Dennis P Kramer
---

<div>
	<%= partial "head" %>
	<%= partial "nav" %>
	<div class="intro animated fadeInDown">
		<h1 class="lead cover" id="child2">I am a skier, climber, cyclist, and mountaineer. I currently work for <a href="http://www.etsy.com" target="_blank">Etsy</a> as a Product Designer, and live in Brooklyn Heights with my girlfriend, Lily.</h1>
		<div class="feature cover" id="child1"></div>
		<div class="description" id="master">
			<div class="inner">
				<p>I grew up in New York City, and am still happy to call it my home. Despite my urban upbringing, I have always felt compelled to get outside and explore as often as possible.</p>
				<p>I like to think that this ambition drives me to build tools that help people get more, not less, out of life.</p>
			</div>
		</div>
		<div class="gallery">
			<img src="/images/general/a-index.jpg" />
			<img src="/images/general/b-index.jpg" />
			<img src="/images/general/c-index.jpg" />
			<img src="/images/general/d-index.jpg" />
		</div>
	</div>

</div>