---
title: Dennis P Kramer - Work
---

<div>
	<%= partial "head" %>
	<%= partial "nav" %>
	<div class="container">
		<!--/////// Swift ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Swift for Urban Compass</h1>
				<p>Product Design, IOS</p>
			</div>
			<p class="description">While working at <a href="http://www.urbancompass.com" target="_blank">Urban Compass</a>, I participated in a Hackathon to come up with new products or features that could help improve the apartment rental/buying experience. I worked on a team of two to come up with Swift, an iPhone app that minimizes the work and stress of apartment hunting by pairing customers up with an agent and giving them a personal chat experience to let their agent know exactly what they like and don't like. Swift fully leverages the value of working with an agent within a trustworthy and transparent system, and provides agents with genuine leads that are more likely to stick with them.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-swift/1.jpg">
			<img src="images/portfolio-swift/2.jpg">
			<img src="images/portfolio-swift/3.jpg">
			<img src="images/portfolio-swift/4.jpg">
			<img src="images/portfolio-swift/5.jpg">
		</div>
		<!--/////// Urban Compass ///////-->
			<div class="portfolio">
				<div class="lead">
					<h1>Urban Compass Desktop Experience</h1>
					<a href="http://www.urbancompass.com" target="_blank">Visit Site</a>
					<p>Product Design, Front-end Development, Layout</p>
				</div>
				<p class="description">This is a selection of the pages that I've worked on while employed as a product designer at <a href="http://www.urbancompass.com" target="_blank">Urban Compass</a>. The end goal of features that we as a product team have implemented is to develop a platform that makes apartment hunting in NYC faster, easier, and overall a more enjoyable experience.</p>
			</div>
			<div class="portfolio-images">
				<img src="images/portfolio-uc/1.jpg">
				<img src="images/portfolio-uc/2.jpg">
				<img src="images/portfolio-uc/3.jpg">
				<img src="images/portfolio-uc/4.jpg">
				<img src="images/portfolio-uc/5.jpg">
				<img src="images/portfolio-uc/6.jpg">
				<img src="images/portfolio-uc/7.jpg">
				<img src="images/portfolio-uc/8.jpg">
				<img src="images/portfolio-uc/9.jpg">
				<img src="images/portfolio-uc/10.jpg">
				<img src="images/portfolio-uc/11.jpg">
			</div>
		</div>
	</div>
</div>