---
title: Dennis P Kramer - Work
---

<div>
	<%= partial "head" %>
	<%= partial "nav" %>
	<div class="container">
		<!--/////// Swift ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Swift for Urban Compass</h1>
				<a href="http://www.urbancompass.com" target="_blank">Visit Site</a>
				<p>Product Design, IOS</p>
			</div>
			<p class="description">While working at <a href="http://www.urbancompass.com" target="_blank">Urban Compass</a>, I participated in a Hackathon to come up with new products or features that could help improve the apartment rental/buying experience. I worked on a team of two to come up with Swift, an iPhone app that minimizes the work and stress of apartment hunting by pairing customers up with an agent and giving them a personal chat experience to let their agent know exactly what they like and don't like. Swift fully leverages the value of working with an agent within a trustworthy and transparent system, and provides agents with genuine leads that are more likely to stick with them.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-swift/1.jpg">
			<img src="images/portfolio-swift/2.jpg">
			<img src="images/portfolio-swift/3.jpg">
			<img src="images/portfolio-swift/4.jpg">
			<img src="images/portfolio-swift/5.jpg">
		</div>
		<!--/////// Urban Compass ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Urban Compass</h1>
				<a href="http://www.urbancompass.com" target="_blank">Visit Site</a>
				<p>Product Design, Front-end Development, Layout</p>
			</div>
			<p class="description">This is a selection of the pages that I've worked on while employed as a product designer at Urban Compass. The end goal of features that we as a product team have implemented is to develop a platform that makes apartment hunting in NYC faster, easier, and overall a more enjoyable experience.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-uc/1.jpg">
			<img src="images/portfolio-uc/2.jpg">
			<img src="images/portfolio-uc/3.jpg">
			<img src="images/portfolio-uc/4.jpg">
			<img src="images/portfolio-uc/5.jpg">
			<img src="images/portfolio-uc/6.jpg">
			<img src="images/portfolio-uc/7.jpg">
			<img src="images/portfolio-uc/8.jpg">
			<img src="images/portfolio-uc/9.jpg">
			<img src="images/portfolio-uc/10.jpg">
			<img src="images/portfolio-uc/11.jpg">
		</div>
		<!--/////// Sarah & Andy ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Sarah & Andy's Wedding Invites</h1>
				<p>Print, Illustration, Typography</p>
			</div>
			<p class="description">My good friends, Sarah and Andy, got married at Sarah's family's farm in Northwestern Connecticut. As a gift to them, I designed their invites and RSVP cards, incorporating organic, country-inspired elements while also maintaining a modest, elegant aesthetic. They were letterpress printed by <a href="http://bigwheelpress.com" target="_blank">Big Wheel Press</a> in Northampton, Massachusetts.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-invites/1.jpg">
			<img src="images/portfolio-invites/2.jpg">
			<img src="images/portfolio-invites/3.jpg">
			<img src="images/portfolio-invites/4.jpg">
		</div>
		<!--/////// Wishbone ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Wishbone</h1>
				<a href="http://www.wishbone.org" target="_blank">Visit Site</a>
				<p>Product Design, UI and Brand Development, Layout, Iconography</p>
			</div>
			<p class="description">While working at <a href="http://www.kettlenyc.com" target="_blank">Kettle</a>, I worked on the brand, visual language, and website design for Wishbone, a non-profit platform to assist students in fundraising for out-of-school programs that they wouldn't be able to afford otherwise. I developed vast icon sets and flexible page structures to accomodate a variety of student-specific content, information on the programs, and value-adding updates for donors. We also created a custom CMS to make it easy to update content and manage donated funds.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-wishbone/1.jpg">
			<img src="images/portfolio-wishbone/2.jpg">
			<img src="images/portfolio-wishbone/3.jpg">
			<img src="images/portfolio-wishbone/4.jpg">
			<img src="images/portfolio-wishbone/5.jpg">
			<img src="images/portfolio-wishbone/6.jpg">
			<img src="images/portfolio-wishbone/7.jpg">
			<img src="images/portfolio-wishbone/8.jpg">
			<img src="images/portfolio-wishbone/9.jpg">
			<img src="images/portfolio-wishbone/10.jpg">
			<img src="images/portfolio-wishbone/11.jpg">
		</div>
		<!--/////// To Resolve ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>To Resolve Project</h1>
				<p>Typography, Illustration</p>
			</div>
			<p class="description">For New Years 2013, <a href="http://www.stregerdesign.com" target="_blank">Chris Streger</a> asked me to participate in the <a href="http://toresolveproject.com" target="_blank">To Resolve Project</a>, an annual undertaking for designers to create their new years resolution in the form of an iPhone wallpaper for others to download. I opted to draw some custom letters for my resolution, and then figured I might as well complete the alphabet. You can download the wallpaper <a href="http://toresolveproject.com/Dennis-Kramer" target="_blank">here</a>.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-toresolve/1.jpg">
		</div>
		<!--/////// Holiday Stamps ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Holiday Stamps</h1>
				<p>Typography, Illustration</p>
			</div>
			<p class="description">For Christmas this past year, I decided to put my skills to good use to make a few family crest stamps for friends. Keeping it simple with some custom type and organic, geometric shapes, I think these turned out to be nice little gifts that are hopefully used and appreciated for years to come.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-holiday/1.jpg">
			<img src="images/portfolio-holiday/2.jpg">
			<img src="images/portfolio-holiday/3.jpg">
			<img src="images/portfolio-holiday/4.jpg">
		</div>
		<!--/////// Sesame Street ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Sesame Street Mobile Site</h1>
				<a href="http://www.sesamestreet.org" target="_blank">Visit Site</a>
				<p>Mobile Layout, Iconography</p>
			</div>
			<p class="description">While working at <a href="http://www.kettlenyc.com" target="_blank">Kettle</a>, I assisted in layout design, navigation iconography, and visual development of the mobile site for Sesame Street. The focus of the project was to make family-friendly content easily accessible to both parents and children, while maintaining the playful character already present in the Sesame Street brand. Key features that I worked on were instructional activity and recipe pages, as well as detail views for specific topics.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-sesame/1.jpg">
			<img src="images/portfolio-sesame/2.jpg">
			<img src="images/portfolio-sesame/3.jpg">
			<img src="images/portfolio-sesame/4.jpg">
		</div>
		<!--/////// Rotunda ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Rotunda Typeface</h1>
				<p>Typography</p>
			</div>
			<p class="description">Rotunda is an experimental display typeface that utilizes concentric shapes and unconventional ornamentation to result in soft, geometric letterforms with distinction.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-rotunda/1.jpg">
		</div>
		<!--/////// 7 Grove ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>7 Grove Street</h1>
				<p>Print, Illustration</p>
			</div>
			<p class="description">For my girlfriend's mother's birthday, I made her a set of custom printed greeting cards that commemorated her new home. I decided to illustrate the new residence with her pets, combining the recognizeable inhabitants with their new surrounding.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-7grove/1.jpg">
			<img src="images/portfolio-7grove/2.jpg">
			<img src="images/portfolio-7grove/3.jpg">
			<img src="images/portfolio-7grove/4.jpg">
		</div>
		<!--/////// Spacely ///////-->
		<div class="portfolio">
			<div class="lead">
				<h1>Spacely Sprockets</h1>
				<p>Typography, Iconography</p>
			</div>
			<p class="description">For several years, I have participated in <a href="http://bikenyn.nationalmssociety.org/site/TR?fr_id=18354&pg=entry" target="_blank">Bike MS NYC</a>, an event that exists to raise money and awareness for the <a href="http://www.nationalmssociety.org/index.aspx" target="_blank">National MS Society</a>. My friends and I ride as a team, under the self-appointed name, the "Spacely Sprockets." To help gain support for our cause, I decided to make our team some custom type and a logo to represent us at fundraising events. Additionally, we printed bike jerseys sporting the designs.</p>
		</div>
		<div class="portfolio-images">
			<img src="images/portfolio-spacely/1.jpg">
			<img src="images/portfolio-spacely/2.jpg">
			<img src="images/portfolio-spacely/3.jpg">
			<img src="images/portfolio-spacely/4.jpg">
		</div>


	</div>
</div>